
/eclipseWorkspace/.metadata
/eclipseWorkspace/Straylight/SocketServer/target
/eclipseWorkspace/Straylight/SocketServer/targetJar
/eclipseWorkspace/Straylight/PageServer/target
/eclipseWorkspace/Straylight/PageServer/targetJar
/eclipseWorkspace/StrayLight/PageServer/target
/eclipseWorkspace/StrayLight/SocketServer/target
/eclipseWorkspace/BotoProject
/eclipseWorkspace/StrayLight/Common/target
*.pyc
__pycache__
/eclipseWorkspace/StrayLight/Common/target
/visualStudioWorkspace/Debug
/visualStudioWorkspace/straylight/Debug
/visualStudioWorkspace/straylight/DoubleInputDoubleOutput
/visualStudioWorkspace/JNIinterface/Debug
/visualStudioWorkspace/FMUwrapper/Debug
/visualStudioWorkspace/FMUexe/Debug
/eclipseWorkspace/JNItest2/bin
/eclipseWorkspace/JNItest2/tmp.idf
/eclipseWorkspace/JNItest2/null
/eclipseWorkspace/JNItest2/result.csv
/eclipseWorkspace/JettyWebApp/bin
/visualStudioWorkspace/nativetest/Debug
/visualStudioWorkspace/FMUexe/Debug
/eclipseWorkspace/JNItest/DoubleInputDoubleOutput
/eclipseWorkspace/JNItest/src/JNIinterface.h
/eclipseWorkspace/JNItest/src/FMUwrapper.class
/eclipseWorkspace/JNItest/src/JNIinterface.class
/eclipseWorkspace/JNItest/bin
/visualStudioWorkspace/ipch
/eclipseWorkspace/Maven Debug/bin
/visualStudioWorkspace/Release
/visualStudioWorkspace/_ReSharper.straylight
*.log
dsres.mat
.metadata
.settings