
/eclipseJavaWorkspace/.metadata
/eclipseJavaWorkspace/esim/esim-app
/eclipseJavaWorkspace/esim/target
/eclipseJavaWorkspace/Torqueflite/PageServer/target
/eclipseJavaWorkspace/simsvr/target
/eclipseJavaWorkspace/Torqueflite/SocketServer/target
/eclipseJavaWorkspace/Torqueflite/SocketServer/targetJar
/eclipseJavaWorkspace/Torqueflite/PageServer/targetJar