
/eclipseWorkspace/.metadata
/eclipseWorkspace/Straylight/SocketServer/target
/eclipseWorkspace/Straylight/SocketServer/targetJar
/eclipseWorkspace/Straylight/PageServer/target
/eclipseWorkspace/Straylight/PageServer/targetJar
/eclipseWorkspace/StrayLight/PageServer/target
/eclipseWorkspace/StrayLight/SocketServer/target
/eclipseWorkspace/BotoProject
/eclipseWorkspace/StrayLight/Common/target
*.pyc
__pycache__
/eclipseWorkspace/StrayLight/Common/target
/visualStudioWorkspace/Debug
/visualStudioWorkspace/straylight/Debug
/visualStudioWorkspace/straylight/DoubleInputDoubleOutput